@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primaryBtn: #0c57fb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #000;
}


#main-header{
    display: flex;
    justify-content: space-between;
}

#main-header .logo{
    width: 34px;
    margin-left: 20px;
}

#main-header ul{
    margin: 17px;
}
#main-header li{
    display: inline;
    padding: 13px;
}

#main-header li a{
    color: #9e9e9e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1em;
}

#main-header li a:hover{
    color: #fff;
}

.btn-primary{
    background-color: var(--primaryBtn);
    color: #fff !important;
    font-weight: lighter !important; 
    padding: 9px;
    border-radius: 5px;
}


#showcase{
    display: flex;
    flex-direction: column;
    background-image: url("https://dfd5gcc6b7vw5.cloudfront.net/assets/thenx-header-b0f1a2685be5ff4f739a7333baf90c8045a39f170347548609b634e39709357c.jpg");
   background-size: cover;
   height: 100vh;
   justify-content: center;
   align-items: center;
   position: relative;
}

#showcase::after{
   content: '';
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
   background: black;
   opacity: 0.8;
}

#showcase h1{
    z-index: 10;
    color: #fff;
    font-size: 38px;
}

#showcase p{
    z-index: 10;
    color: #fff;
    font-size: 17px;
}


/* Tomorrow */
.section-1{
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    line-height: 1.2;
}

.section-1-text{
    margin-top: 150px;
}
.section-1-text p{
    font-size: 25px;
    margin-bottom: 15px;
}

.section-1-text h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.btn2{
    background-color: var(--primaryBtn);
    color: #fff;
    font-weight: lighter;
    font-size: 19px; 
    padding: 16px;
    border-radius: 5px;
    margin: 15px;
    border: none;
    cursor: pointer;
}

.btn1{
    background-color: #000;
    color: #fff;
    font-size: 19px;
    padding: 16px;
    border-radius: 5px;
    margin: 15px 15px 15px 0;
    cursor: pointer;
    border: 1px solid #fff;
    transition: .4s;
}

.btn1:hover{
    color: #000;
    background-color: #fff;
}

.section-1-image{
    margin-top: 30px;
}

.section-2{
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    line-height: 1.2;
}

.section-2-text{
    margin-top: 150px;
}

.section-2-text p{
    font-size: 25px;
    margin-bottom: 15px;
}

.section-2-text h1{
    font-size: 40px;
    margin-bottom: 25px
}

.section-2 .btn2{
    margin: 15px 15px 15px 0;
}
.section-2-image{
    margin-top: 30px;
    margin-right: 100px;
}

.main-footer{
    height: 50vh;
    margin-top: 50px;
    background-image: url('https://dfd5gcc6b7vw5.cloudfront.net/assets/thenx-footer-24e7f3e5fe00928e95944891a14955366b4f613552ef83a87a0703bb8fe0464a.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    
}


.main-footer::after{
    content: "";
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.7;
}
.main-footer li{
    display: block;
    margin-top: 20px;
}
.main-footer > * {
    z-index: 1;
}

.main-footer a{
    color: #9e9e9e;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: .1em;
}

.company, .social{
    margin: auto;
    width: 70%;
}

.title{
    color: #fff !important;
    font-size: 30px !important;
    font-weight: bold;
}

.main-footer a:hover{
    color: #fff;
}


.openMenu{
    font-size: 25px;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}


.closeMenu{
    font-size: 25px;
    display: none;
    cursor: pointer;
    color: #fff;
}
@media screen and (max-width: 1000px) {

    nav{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left:0;
      z-index: 100;  
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      transition: top 0.7s ease;
      display: none;
    }

    .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .openMenu{
        display: block;
    }

    #main-header li{
        display: block;
    }

    .btn-primary{
        display: none;
    }

    .section-1-image, .section-2-image{
        display: none;
    }
}